<div class="cart-area d-n">
    <div class="form-header">
        <button *ngIf="!loginService.session" [routerLink]="['/login-details']" class="au-btn-submit">
            Login
        </button>
        <button *ngIf="loginService.session" (click)="loginService.logout()" [routerLink]="['/']" class="au-btn-submit">
            Logout
        </button>
    </div>
</div>

<!-- <div class="cart-area d-n">
    <div class="form-header">
     
      <button *ngIf="!loginService.session" [routerLink]="['/login-details']" class="au-btn-submit">
        Login
      </button>
  
      
      <button *ngIf="loginService.session" (click)="loginService.logout()" class="au-btn-submit">
        Logout
      </button>
    </div>
  </div>
   -->

